/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* valeur par defaut */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #4e4e4e;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

/* COMPONENTS */
.btn {
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
}

.txt-upper {
    text-transform: uppercase;
}

/* HERO */
.hero {
    display: block;
    background-color: pink;
    background-image:linear-gradient(rgba(0, 0, 0, 0.571),transparent), url(../img/business-1920x1080.jpg);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    width: 90%;
    min-height: 300px;
    margin: auto;
    padding: 50px 20px;
    text-align: center;
    color: #fff;
}

.hero h1 {
    margin-bottom: 50px;
}

/* ABOUT US */
.about-us {
    text-align: center;
    width: 90%;
    min-height: 300px;
    margin: 50px auto;
    padding: 20px 0;
}

.about-us h2 {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.about-us p {
    font-size: 14px;
    margin-bottom: 10px;
}

.about-us a {
    color: rgb(190, 58, 58);
}

.about-us a:hover {
    color: pink;
}

.portrait {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    margin: auto;
}

.container-2 {
    width: 300px;
    height: 300px;
    margin: 50px auto;
    background-color: pink;
}

.portrait-2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}