@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 1500px;
    color: #333;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
}

/* COMPONENTS */
.up {
    position:fixed;
    right: 20px;
    bottom: 20px;

    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
}

.btn {
    color: #fff;
    background-color: #0a2b19;
    padding: 20px 60px;
    border-radius: 5px;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a2b19;
    min-height: 65px;
    padding: 0 60px;
}

header a {
    color: #fff;
}

.logo {
    font-size: 35px;
    font-family: 'Nunito', sans-serif;
}

nav {
    display: flex;
    gap: 20px;
}

/* HERO SECTION */
.hero {
    background-color: pink;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
        url(../img/eiffel-tower-1920x1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.hero h1 {
    text-transform: uppercase;
    font-size: 40px;
}

.hero p {
    font-style: italic;
}

/* CONTACT */
.contact {
    margin-top: 100px;
}

.contact h1 {
    font-size: 40px;
    text-align: center;
}

.form-contact {
    width: 80%;
    max-width: 750px;
    min-width: 400px;
    min-height: 300px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 8px 16px 16px #00000061;
    border-radius: 5px;
}

.email-container {
    margin-bottom: 20px;
}

.email, .message {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-top: 10px;
}

.message{
    height: 100px;
}

.submit {
    padding: 10px 30px;
    background-color: #0a2b19;
    color: #fff;
    border-radius: 5px;
    border: none;
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        gap: 20px;
        padding: 20px 60px;
    }
    nav {
        width: 100%;
       justify-content: space-between;
    }
}

@media screen and (max-width: 500px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
}

/* En dedssous de 500px le design change */