/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* valeur par defaut */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.btn {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(199, 55, 55);
    color: #fff;
}

.txt-upper {
    text-transform: uppercase;
    font-style: italic;
}

h1 {
    text-align: center;
    padding: 20px 0;
}

/* HERO */
.hero {
    /* BACKGROUND-IMAGE */
    /* linear-gradient permet de mettre un overlay (un voile au-dessus) pour que le texte soit lisible */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/business-1920x1080.jpg);
    background-size: cover;
    /* Par defaut background-position est sur top left */
    background-position: center;
    /* Par defaut les images se repètent (si j'utilise : background-size: cover; je n'ai pas besoin de mettre no-repeat*/
    /* background-repeat: no-repeat; */
    width: 90%;
    min-height: 350px;
    margin: 50px auto;
    padding: 80px 20px;
    text-align: center;
    color: #fff;
}

.hero h2 {
    margin-bottom: 100px;
    font-size: 35px;
}

/* IMAGE 1 */
.portrait {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    margin: auto;
}

/* IMAGE 2 */
.container-2 {
    width: 300px;
    height: 300px;
    margin: 50px auto;
    background-color: pink;
}

.portrait-2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Par defaut object-position est sur center */
    object-position: top;
}
